<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kparerpp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>9</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
				<key>dateExpires</key>
				<string>19/11/22</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>app_settings.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>background_location.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>downloads_path_provider_28.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>esys_flutter_share.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_foreground_plugin.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_html_to_pdf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geocoder.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>launch_review.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player_avfoundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5E87C8520CDA4C07C8F130696077B9AF1E8B907</string>
						<key>dateExpires</key>
						<string>19/11/22</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SYF462CS7</string>
						<key>name</key>
						<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7SYF462CS7.com.in30days.kparerp.kparerp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>7SYF462CS7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>64654c1b-faf1-48fa-a70b-70b9e55c601e</string>
				<key>dateExpires</key>
				<string>19/11/22</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.in30days.kparerp.kparerp</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7SYF462CS7</string>
				<key>name</key>
				<string>30DAYS TECHNOLOGIES PRIVATE LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1.2</string>
		</dict>
	</array>
</dict>
</plist>
